* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: monospace;
    
}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url("/Images/MacBook\ Pro\ 16_\ -\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}



h1 {
    color: #1B1B1B;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-top: 50px;
}

h3 {
    color: #1B1B1B;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.passwordshower {
    display: flex;
    justify-content: center;
    margin: 40px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.passwordDisplay {
    border-radius: 104px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: #F7F7F7;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    height: 55px;
    width: 500px;
    margin-right: 30px;
}

.passwordDisplay {
    text-align: center;
    color: #AAA;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 14px;
}

.copyButton {
    border-radius: 104px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: #85BCFF;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    height: 55px;
    flex-shrink: 0;
    width: 170px;
    color: #FFF;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.copyButton:hover {
    background-color: #658cba;
}

.options {
    max-width: 600px;
    /* Adjust the max-width based on your design */
    margin: 0 auto;
    padding-top: 30px;
    /* Center the container */
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    /* Adjust the margin as needed */
}

.left {
    flex: 1;
    text-align: left;
    color: #4C4C4C;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right {
    flex: 1;
    text-align: right;
}

.generatorButton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.genButton {
    border-radius: 48px;
    background: #3B3B3B;
    width: 394px;
    height: 55px;
    flex-shrink: 0;
    color: #FFF;
    background-color: #3B3B3B;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    margin-top: 35px;
}

.genButton:hover{
    background-color: #434343;
}

input[type="number"]{
    font-size: 13px;
    font-family: Neue Haas Grotesk Display Pro;
}

img{
    width: 100%;
}

#pass-box{
    font-family: Neue Haas Grotesk Display Pro;
}